.sensor {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.sensor h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sensor-data {
  display: flex;
  align-items: center;
}

.sensor-icon {
  width: 50px;
  margin-right: 10px;
}

.sensor-icon img {
  width: 100%;
}

.sensor-value {
  font-size: 24px;
}
